prune .github
prune .ruff_cache
prune docs
prune examples
prune scripts
prune tests
exclude .gitattributes
exclude .gitignore
exclude .readthedocs.yml
exclude mypy.ini
exclude pytest.ini
exclude requirements-dev.txt
exclude requirements-docs.txt
exclude ruff.toml
exclude ISSUE_TEMPLATE.md
exclude PULL_REQUEST_TEMPLATE.md